<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Formula Countdown Today.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Formula Countdown Widget.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Formula Countdown.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Formula Countown Today.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>32AAE99B1BB7327900E2E887</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>32AAE9AF1BB7327A00E2E887</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>32AAE9BA1BB7327A00E2E887</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>32FD56FB1D092DC7003BF9C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>32FD57111D092EC1003BF9C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>32FD57251D093A1B003BF9C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
